body {
    margin: 0;
    padding: 0;
    background: #000;
    font-family: Poppins, sans-serif;
}


.container {
    width: 35.8cm;
    height: 20cm;
    position: relative;
    background: #000;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    outline: 1px solid black;
    outline-offset: -1px;
}

/* Background atas */
.top-bg {
    width: 35cm;
    height: 7cm;
    position: absolute;
    top: 7cm;
    left: 0;
    background: transparent;
}

.bg-image {
    width: 1353px;
    height: 902px;
    position: absolute;
    top: -12px;
    left: 0;
    background: linear-gradient(
        0deg, 
        rgba(0, 0, 0, 0.76), 
        rgba(0, 0, 0, 0.76)
    );
    box-shadow: 0px 4px 4px black;
    filter: brightness(24%);
}

/* Header strip */
.header {
    width: 100%;
    height: 146px;
    position: absolute;
    top: -50px;
    left: 0;
    background: #001019;
    
}

/* Menu */
.menu-item {
    position: absolute;
    top: 25px;
    color: #fff;
    font-size: 24px;
    font-weight: 700;
    height: 36px;
}

/* Logo */
.logo {
    width: 2.5cm;
    height: 2.5cm;
    position: absolute;
    top: 4px;
    left: 0;
    
}

/* Title */
.title {
    width: 417px;
    position: absolute;
    top: 363px;
    left: 69px;
    text-align: center;
    color: #fff;
    font-size: 40px;
    font-weight: 600;
}
.line {
    position: absolute;
    left: 29.5px;      /* sejajar dengan title */
    top: 470px;      /* pas di bawah SITUBONDO */
    width: 500.5px;    /* sama dengan width title */
    height: 5px;
    background: white;
}

